{{<material}}

{{$pageTitle}}
  Case
{{/pageTitle}}

{{$heading}}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-fluid">
      <h3><i class="fa fa-folder-open-o fa-fw"></i> {{ title }}: {{ ref }} - {{ type }}</h3>
    </div>
  </div>
</div>
{{/heading}}

{{$body}}
<div class="row">
  <!-- Left column -->
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-quote-right fa-fw"></i> Narrative</h5>
            </div>
            <blockquote>
              <p class="lead">"Graham Dott wants to take out a mortgage against his property. He has a house and a garage, which are seperate. He owns his house, but his garage is in a block down the road and he leases it."</i></p>
              <footer>Emma Thomas - <cite>Legal Executive at Epic Law</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-files-o fa-fw"></i> Evidence</h5>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa fa-file-pdf-o fa-fw"></i> PDF</td>
                <td>Scanned Agreement</td>
                <td>24/07/2015 13:37:01</td>
                <td><button type="button" class="btn btn-primary pull-right"><i class="fa fa-eye fa-fw"></i> View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default table-responsive">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-users fa-fw"></i> Parties</h5>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Borrower</th>
                <th>Conveyancer</th>
                <th>Current Lender</th>
                <th>New Lender</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#"><i class="fa fa-user fa-fw"></i> Graham Dott</a></td>
                <td><a href="#"><i class="fa fa-building-o fa-fw"></i> Epic Law</a></td>
                <td><a href="#"><i class="fa fa-university fa-fw"></i> Northern Rock</a></td>
                <td><a href="#"><i class="fa fa-university fa-fw"></i> Abbey National</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-book fa-fw"></i> Title: TXH1010</h5>
              </div>
            <div class="list-group-item">Draft register entries go here...</div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success btn-lg"><i class="fa fa-check fa-fw"></i> Complete Case</button>
  </div>
  <!-- Right column -->
  <div class="col-sm-3">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-comments-o fa-fw"></i> Comments</h5>
            </div>
            <div class="list-group-item">
              <strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 14:01:24<br/>
              <a href="#">Sarah Coleman</a>:</strong> "Date on signed agreement does not match the application. Have queried with Emma Thomas at Epic Law and confirmed it is correct and OK to proceed."
            </div>
            <div class="list-group-item">
              <strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 15:53:44<br/>
              You:</strong> "Thanks Sarah! Clean register, ready to complete."
            </div>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="2"></textarea>
              </div>
              <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-comment-o fa-fw"></i> Add comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-history fa-fw"></i> History</h5>
            </div>
            <li class="list-group-item"><strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 13:37:01</strong><br/><i class="fa fa-check fa-fw"></i> Application Received</li>
            <li class="list-group-item"><strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 13:37:01</strong><br/><i class="fa fa-files-o fa-fw"></i> Evidence Received</li>
            <li class="list-group-item"><strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 13:37:04</strong><br/><i class="fa fa-check fa-fw"></i> Application Passed Validation</li>
            <li class="list-group-item"><strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 14:01:24</strong><br/><i class="fa fa-comments-o fa-fw"></i> Sarah Coleman Commented</li>
            <li class="list-group-item"><strong><i class="fa fa-calendar fa-fw"></i> 24/07/2015 <i class="fa fa-clock-o fa-fw"></i> 15:53:44</strong><br/><i class="fa fa-comments-o fa-fw"></i> You Commented</li>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-life-ring fa-fw"></i> Help</h5>
              </div>
            <div class="list-group-item">Help goes here...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/body}}

{{/material}}
