// Styles needed for Andy P Casework files
// govuk overriden style (unbranded) and
// new style


// gov uk overridden style

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.alpha-banner {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3; }
  @media (min-width: 641px) {
    .alpha-banner {
      padding-bottom: 10px; } }
  .alpha-banner p {
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .alpha-banner p {
        font-size: 14px;
        line-height: 1.1428571429; } }
  .alpha-banner .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #d53880; }
    @media (min-width: 641px) {
      .alpha-banner .phase-tag {
        vertical-align: baseline; } }
    @media (max-width: 640px) {
      .alpha-banner .phase-tag {
        font-size: 14px;
        line-height: 1.1428571429; } }
  .alpha-banner span {
    vertical-align: top; }
    @media (min-width: 641px) {
      .alpha-banner span {
        vertical-align: baseline; } }

.alpha-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880; }
  @media (min-width: 641px) {
    .alpha-tag {
      vertical-align: baseline; } }
  @media (max-width: 640px) {
    .alpha-tag {
      font-size: 14px;
      line-height: 1.1428571429; } }

.unbranded {
  background: #fff; }
  .unbranded * {
    font-family: Arial !important; }
  .unbranded #footer {
    border: 0;
    background: #fff; }

#global-header .header-wrapper, #global-header-bar, #global-cookie-message p, #footer .footer-wrapper, #content {
  max-width: none; }

#content {
  padding: 30px; }



// new style
p.task {
  font-weight:800;
}

entry.new p {
  padding: 0px 5px 10px 5px;
  border-left: 5px solid #005ea5; 
}

p.new {
  padding: 0px 5px 10px 5px;
  border-left: 5px solid #005ea5; 
}

entry.new p::before {
  content:"NEW: ";
  color: black; 
/*  border:2px solid #56c7c7; 
  border:2px solid #005ea5; */
  color:white;
  background-color: #005ea5;
}

.col-top {
  margin-top: 20px;
}

div#content {
  padding-top: 0px !important;
}

.casework-dashboard td {
  vertical-align: text-top;
  font-size:19px;
}

.casework-dashboard th {
  vertical-align: text-top;
  font-size:16px;
}

.disabled-button {
  opacity:50%;
}

div#global-header-bar {
    height: 8px;
    background-color: #006400;
}

.investigate {
  font-weight:600;
  color:black;
}

.reported-by {
  color: grey;
  font-style: italic;
  font-size:80%;
}

.proprietor-name {
  font-weight:800;
  color:#006400;
}

.headline-stat {
  font-size: 76px;
}

.level2-stat {
  font-size: 36px;
  color: grey;
}

td.date-received, td.title-number {
  font-size: 16px;
}

.summary-completed td {
  color:grey;
  font-size: 85%;
}

.no-top-margin {
  margin-top: 0;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.right-footnote {
  margin-bottom:0;
  color:grey;
}

.done-row {
  background-color: #DEE0E2;
}

.finished-text {
  color: #006435;
  font-weight: bold;
}

.unopened-text {
  color: #AF1324;
  font-weight: bold;
}

.daylist-green {
  color: green;
  font-weight: normal;
}





