{{<internal_gov}}

{{$pageTitle}}Casework - case{{/pageTitle}}

{{$propositionHeader}}<a href="/" id="proposition-name">Digital mortgage applications</a>{{/propositionHeader}}


{{$content}}
<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <div id="content">

    <div class="grid-row">

    	<div class="column-three-quarters">
        	<div class="mortgage-successful">
        		<h1 class="heading-large">Mortgage registered</h1>

				<p class="lede">Successfully completed registering the mortgage application A000101 against title CL460071</p>

				<p class="lede">The existing search against title CL460071 has not been marked-off, a task has been routed to existing systems</p>

			</div>

			<!-- <h2 class="heading-large">Mortgage Application</h2> -->
			<div class="text">

			<p>Play back the details the person added to the no -> textbox, here</p>

			<ul class="no-bullets application-info">
				<!-- <li><span class="application-info-item">CL460071</span> Title Number</li> -->
				<!-- <li><span class="application-info-item">A000101</span> Application Reference</li> -->
				<li>In favour of (Lender): <span class="application-info-itemx">Shawbrook Bank Limited</span></li>
				<li>Submitted by (Conveyancer): <span class="application-info-itemx">Coldpress Solicitors</span></li>
			</ul>

			</div>

		</div>

	</div>


<br>
    <div class="grid-row">	
		<div class="column-three-quarters">
			<p><a style="float:right;" href="caselist-01">Return to caselist</a></p>
		</div>
	</div>


  </div> <!-- content -->

</main>

{{/content}}



{{/internal_gov}}
