{{<internal_gov}} 

{{$pageTitle}}Digital Mortgage Applications{{/pageTitle}} 

{{$propositionHeader}}<a href="/" id="proposition-name">Digital mortgage applications</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">

  <!-- <h1 class="heading-large app-page-heading visuallyhiddenx">Caselist</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">

    <h1 class="heading-large app-page-heading">Caselist</h1>
      <div class="tabs">
      
        <div class="tabs-nav">
          <ul class="tabs-list">
            <li><a href="#tab-1">Applications to process (5)</a></li>
            <li><a href="#tab-2">Done (7)</a></li>
          </ul>
        </div>
        
        <div class="tabs-content">
        
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">Approve draft registers</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1-2">
                      <td><a href="/beta-v1/a000101-priority">A000101 - Title: CL460071
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/beta-v1/dmort0102">A000102 - Title: BD161882
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/beta-v1/dmort0103">A000103 - Title: GL00453
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/beta-v1/dmort0004">A000104 - Title: FL522310
                      </td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/beta-v1/dmort0005">A000105 - Title: DN44038
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        
          <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3" width="50%" scope="col">completed today</th>
                    <th class="" width="25%"></th>
                    <th class="" width="25%"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="row-display-1">
                      <td><a href="#tab-2">A000099 - Title: BG750045</a>
                      <td>by you</td>
                      <td>10:15 am</td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000098 - Title: LY030071</a></td>
                      <td>by you</td>
                      <td>10:10 am</td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000097 - Title: BD161882</a></td>
                      <td>by Sarah T</td>
                      <td>10:09 am</td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000096 - Title: BB667071</a></td>
                      <td>by you</td>
                      <td>09:34 am</td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000095 - Title: GL166439</a></td>
                      <td>by Sara T</td>
                      <td>09:13 am</td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000094 - Title: DN000071</a></td>
                      <td>by you</td>
                      <td>08:13 am</td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000093 - Title: LA74373</a></td>
                      <td>by you</td>
                      <td>07:47 am</td>
                    </tr>
                </tbody>
              </table>

              <h3 class="heading-small"><a href="">see all, this weeks, completed applications</a></h3>
            </div>
          </div> <!-- tab3 end -->
        
        </div> <!-- tabs content end -->
      
      </div> <!-- tabs end -->


    </div>
    <div class="column-quarter">


      <!-- <h2 class="heading-medium">Checked</h2> -->
            <span class="headline-stat">7 / 43</span>
            <br>Completed: today / this week</p>
<br>
      <!-- <h2 class="heading-medium col-top">Effectiveness</h2> -->
            <span class="headline-stat">87%</span>
            <br>not going to CORA</p>

   
    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<script src="/public/javascripts/jquery.tabs.js"></script>

