{{<internal_gov}} 

{{$pageTitle}}Register - quality check{{/pageTitle}} 

{{$propositionHeader}}<a href="/quality-check-v3/list-idea-3a-alt" id="proposition-name">Reviewing registers</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v3.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">

    <!-- <h2 class="heading-medium col-top">Registers drafted as a result of digital mortgages</h2> -->

      <div class="tabs">
      
        <div class="tabs-nav">
          <ul class="tabs-list">
            <li><a href="#tab-1">Drafts to check (4)</a></li>
            <li><a href="#tab-2">Incorrect drafts found (0)</a></li>
            <li><a href="#tab-3">Done (8)</a></li>
          </ul>
        </div>
        
        <div class="tabs-content">
        
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">draft registers to approve</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1">
                      <td><a href="/quality-check-v3/dmort0102-alt">Approve draft register (Title: BD161882, Application: dmort0102)
                      </td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v3/dmort0003-alt">Approve draft register (Title: GL00453, Application: dmort0103)
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/quality-check-v3/dmort0004">Approve draft register (Title: FL522310, Application: dmort0104)
                      </td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v3/dmort0005">Approve draft register (Title: DN44038, Application: dmort0105)
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
          
          <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">drafting errors</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1">
                      <td>No drafting errors
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>  <!-- end tab 2-->
          <div class="tabs-panel" id="tab-3">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="heading-large" width="100%" scope="col">completed today</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="row-display-1">
                      <td><a href="">Title: CL460071, Application: dmort0101</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">Title: CL460071, Application: dmort0099</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">Title: BD161882, Application: dmort0098</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">Title: BB667071, Application: dmort0097</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">Title: GL166439, Application: dmort0096</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">Title: DN000071, Application: dmort0095</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">Title: LA74373, Application: dmort0094</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">Title: GG00746, Application: dmort0093</a></td>
                    </tr>
                </tbody>
              </table>

              <h3 class="heading-medium"><a href="">see this weeks completed checks</a></h3>
            </div>
          </div> <!-- tab3 end -->
        
        </div>
      
      </div>


    </div>
    <div class="column-quarter">


      <!-- <h2 class="heading-medium">Checked</h2> -->
            <span class="headline-stat">8 / 44</span>
            <br>checked today / this week</p>

      <!-- <h2 class="heading-medium">Register errors</h2> -->
            <span class="headline-stat">0</span>

            <br>draft errors this week</p>
   
    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<script src="/public/javascripts/jquery.tabs.js"></script>

