{{<internal_gov}} {{$pageTitle}}list of mortgage applications{{/pageTitle}} 

{{$propositionHeader}}<a href="/" id="proposition-name">Digital mortgage applications</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v1.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/dashboard.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <h1 class="heading-large app-page-heading">Case list</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- THE CASE LIST -->
      <table class="casework-dashboard">
        <p style="margin-bottom:0; color:grey;">Packet received 22 June 2015 12:23</p></td>

        <thead>
          <tr>
            <th width="30%" scope="col">Person</th>
            <th width="10%" scope="col">Tasks</th>
            <th width="30%" scope="col">Status</th>
            <th width="20%" scope="col">Age ▼</th>
          </tr>
        </thead>
        <tbody>

          <tr class="summary">
            <td><a href=""><b>Peterson &amp; Co</b></a></td>
            <td>0/4</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Epic Law</b></a></td>
            <td>0/1</td>
            <td>You opened it today</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Cambourne Estates</b></a></td>
            <td>2/3</td>
            <td>You are working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Peterson &amp; Co</b></a></td>
            <td>1/6</td>
            <td>Jen is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Peterson &amp; Co</b></a></td>
            <td>0/4</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>GGTR</b></a></td>
            <td>0/3</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Jennifer Tsau</b></a></td>
            <td>2/3</td>
            <td>Francis is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Peterson &amp; Co</b></a></td>
            <td>3/4</td>
            <td>Jen opened it yesterday</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Peterson &amp; Co</b></a></td>
            <td>3/4</td>
            <td>Alex is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>Paul Peters </b>and<b> Amed Roul</b></a></td>
            <td>2/3</td>
            <td>Rosemary is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href=""><b>iTRW</b></a></td>
            <td>1/2</td>
            <td>Jen opend it yesterday</td>
            <!-- <p style="margin-bottom:0; color:grey;">prior application - can proceed</p></td> -->
            <td class="date-received">22 June 2015 17:20</td>
          </tr>

          <tr class="summary done-row">
            <td><a href=""><b>Epic Law</b></a></td>
            <td class="finished-text">3/3</td>
            <td class="finished-text">Alex finished it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary done-row">
            <td><a href=""><b>Timothy Eggar</b></a></td>
            <td class="finished-text">2/2</td>
            <td class="finished-text">Jen finished it</td>
            <td class="date-received">22 June 2015 17:20</td>
          </tr>

          <tr class="summary done-row">
            <td><a href=""><b>Cambourne Estates</b></a></td>
            <td class="finished-text">1/1</td>
            <td class="finished-text">You finished it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary done-row">
            <td><a href=""><b>Cambourne Estates</b></a></td>
            <td class="finished-text">2/2</td>
            <td class="finished-text">Jen finished it</td>
            <td class="date-received">22 June 2015 17:20</td>
          </tr>



        </tbody>
      </table>

    </div>
    <div class="column-third">

      <h2 class="heading-medium no-top-margin">People working on this list</h2>
        <ul class="no-bullets">
          <li><a href="">You</a></li>
          <li><a href="">Alex Chee</a></li>
          <li><a href="">Jen Flosster-Riggs</a></li>
          <li><a href="">Francis Italiano</a></li>
          <li><a href="">Rosemary Goodman</a></li>
        </ul>
        <p class="right-footnote">5 people</p>
          <p class="right-footnote">15 cases in each packet</p></td>


        <h2 class="heading-medium">List velocity</h2>
            <span class="headline-stat">65</span>&nbsp;&nbsp;&nbsp;
            <span class="level2-stat">&#x21E7; 12%</span>
            <br>cases per day / weekly change</p>

        <h2 class="heading-medium">Improvements</h2>
          <p>Dev team are fixing <a href="/bugs-vx">2 bugs</a>, and <a href="/bugs-vx">broken case DM1200</a>
          </p>
          New features due Monday:
          <ul>
            <li><a href="/bugs-vx">highlight restricitions</a></li>
            <li><a href="/bugs-vx">show applicant estimated competion date</a></li>
          </ul>

        </div>
    </div>
  </div>



</main>

{{/content}} 
{{/internal_gov}}
