{{<internal_gov}}

{{$pageTitle}}Casework - case{{/pageTitle}}
{{$propositionHeader}}<a href="/casework-v3/list2" id="proposition-name">digital services : mortgage applications</a>{{/propositionHeader}}


{{$content}}
<link href="/public/stylesheets/casework-shame-ap-v3.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <div id="content">

    <div class="grid-row">


        <div class="column-three-quarters">
			<h1 class="heading-large col-top">Problem found - cheers (better words)</h1>

			<p class="lede">There has been a problem</p>
			<p>we'll tell you, or you can tell us what it is.</p>
			<p>we'll put the problem on the problem Q - and solve it as a team.  be in touch.

			<p><a href="list">&lt; Back to caselist</a></p>
		</div>
	</div>


  </div> <!-- content -->

</main>

{{/content}}



{{/internal_gov}}
