{{<internal_gov}}

{{$pageTitle}}
	digital mortgage service - internal users
{{/pageTitle}}

{{$homepageUrl}}/{{/homepageUrl}}

{{$propositionHeader}}<span id="proposition-name">digital mortgage service - internal users</span>
{{/propositionHeader}}

{{$content}}

<link href="/public/stylesheets/quality-check-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

	<h1 class="heading-large col-top">Prototypes</h1>
	<!-- feel free to change this page to suit your needs -->

	<h3 class="heading-medium">Quality Checking - latest (14 Oct 2015 onward)</h3>
	<p>First set of protos for latest thinking about the process</p>
	<p>User is not processing the mortgage application.  Most is automated, and the user is to either a) deal with the exception to automatic processing, or b) quality checking the output (register) from the automatic process</p>
	<p>a) is dealt with by exisiting applications (CORA etc).  These prototypes are about b)</p>
	<p>We are...  quality checking (all or some) of the output (new register edition/version) of the automatic digital mortgage process</p>
	<p><b>Not:</b> casework; or processing the application.  <b>Is:</b> quality checking / building confidence in auto process</p>
	<p>Better/ good words needed to describe this task</p>
	<p>What is the task?  (or how do we describe it?) - check this draft register?</p>
	<p>what does the person need to check (and not check any more)?<br>that the draft register is correct (define correct - register is legally right/allowed; entries not in conflict)<br>
	type of application; what has already happened</p>

	<h3 class="heading-medium">list ideas</h3>
	<ul>
		<li><a href="/quality-check-v1/list-idea-1">Idea 1: Quality Check: Digital Mortgage process output with progress feedback</a></li>
		<li><a href="/quality-check-v1/list-idea-2">Idea 2: variant</a></li>
		<li><a href="/quality-check-v1/list-idea-3">Idea 3: variant</a></li>
		<li><a href="/quality-check-v1/list-idea-3a">Idea 3a: List also has the errors found (for same user to process in CORA)</a></li>
		<li><a href="/quality-check-v1/list-idea-4">Idea 4: variant - simplest list</a></li>
	</ul>

</main>

{{/content}}

{{/internal_gov}}
