{{<internal_gov}} 

{{$pageTitle}}Register - quality check{{/pageTitle}} 

{{$propositionHeader}}<a href="/quality-check-v1/list-idea-3a" id="proposition-name">Quality checking - digital mortgage registers</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v1.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">

    <!-- <h2 class="heading-medium col-top">Registers drafted as a result of digital mortgages</h2> -->

      <div class="tabs">
      
        <div class="tabs-nav">
          <ul class="tabs-list">
            <li><a href="#tab-1">Drafts to check (5)</a></li>
            <li><a href="#tab-2">Incorrect drafts found (0)</a></li>
          </ul>
        </div>
        
        <div class="tabs-content">
        
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">draft registers to check</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v1/dmort0001">check draft register (Title: CL460071, Application: dmort0001)
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/quality-check-v1/dmort0002">check draft register (Title: BD161882, Application: dmort0002)
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v1/dmort0003">check draft register (Title: GL00453, Application: dmort0003)
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/quality-check-v1/dmort0004">check draft register (Title: FL522310, Application: dmort0004)
                      </td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v1/dmort0005">check draft register (Title: DN44038, Application: dmort0005)
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
          
          <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">drafting errors</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1">
                      <td>No drafting errors
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
        
        </div>
      
      </div>


    </div>
    <div class="column-quarter">


      <!-- <h2 class="heading-medium">Checked</h2> -->
            <span class="headline-stat">7 / 43</span>
            <br>checked today / this week</p>

      <!-- <h2 class="heading-medium">Register errors</h2> -->
            <span class="headline-stat">0</span>

            <br>draft errors this week</p>
   
    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<script src="/public/javascripts/jquery.tabs.js"></script>

