{{<internal_gov}} 

{{$pageTitle}}Register - quality check{{/pageTitle}} 

{{$propositionHeader}}<a href="/quality-check-v1/list-idea-1" id="proposition-name">Quality checking - digital mortgage registers</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">

      <!-- THE CASE LIST -->
      <table class="quality-dashboard" style="width:98%;">

        <thead>
          <tr>
            <th class="idea3" width="100%" scope="col">Registers drafted as a result of digital mortgage applications</th>
          </tr>
        </thead>
        <tbody>

            <tr class="row-display-1">
              <td><a href="/quality-check-v1/dmort0112-daylist">check the draft register DN1003
              </td>
            </tr>
            <tr class="row-display-1-2">
              <td><a href="/quality-check-v1/dmort0117">check the draft register EHW23422
              </td>
            </tr>
            <tr class="row-display-2">
              <td><a href="/quality-check-v1/dmort0118">check the draft register GL00453
              </td>
            </tr>
            <tr class="row-display-1">
              <td><a href="/quality-check-v1/dmort0130">check the draft register FL522310
              </td>
            </tr>
            <tr class="row-display-1-2">
              <td><a href="/quality-check-v1/dmort0114">check the draft register DN44038
              </td>
            </tr>

        </tbody>
      </table>

    </div>
    <div class="column-quarter">

      <!-- <h2 class="heading-medium col-top">List size</h2> -->
            <span class="headline-stat">5</span>
            <br>left to do</p>

      <!-- <h2 class="heading-medium">Checked</h2> -->
            <span class="headline-stat">43</span>
            <br>done this week</p>

      <!-- <h2 class="heading-medium">Register errors</h2> -->
            <span class="headline-stat">0</span>

            <br>register errors this week</p>
   
    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
