{{<internal_gov}} 

{{$pageTitle}}Register - quality check{{/pageTitle}} 

{{$propositionHeader}}<a href="/quality-check-v1/list-idea-1" id="proposition-name">Quality checking - digital mortgage registers</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="">

      <!-- THE CASE LIST -->

      <h2 class="heading-large col-top">Registers auto-drafted by a digital mortgage application</h2>

      <table class="quality-dashboard" style="width:98%;">

<!--         <thead>
          <tr>
            <th class="idea4" width="100%" scope="col">Registers drafted as a result of digital mortgages</th>
          </tr>
        </thead> -->
        <tbody>

            <tr class="row-display-1">
              <td><a href="/quality-check-v1/dmort0112-daylist">check the draft register DN1003 is legal
              </td>
            </tr>
            <tr class="row-display-1-2">
              <td><a href="/quality-check-v1/dmort0117">check the draft register EHW23422 is legal
              </td>
            </tr>
            <tr class="row-display-2">
              <td><a href="/quality-check-v1/dmort0118">check the draft register GL00453 is legal
              </td>
            </tr>
            <tr class="row-display-1">
              <td><a href="/quality-check-v1/dmort0130">check the draft register FL522310 is legal
              </td>
            </tr>
            <tr class="row-display-1-2">
              <td><a href="/quality-check-v1/dmort0114">check the draft register DN44038 is legal
              </td>
            </tr>

        </tbody>
      </table>

    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
