{{<material}}

{{$pageTitle}}
Cases
{{/pageTitle}}

{{$heading}}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><i class="fa fa-folder-o fa-fw"></i> {{ title }}</h3>
    </div>
  </div>
</div>
{{/heading}}

{{$body}}
<div class="panel panel-default table-responsive">
  <div class="list-group">
    <div class="list-group-item">
      <h5 class="list-group-item-heading"><i class="fa fa-list fa-fw"></i> Case List</h5>
    </div>
    <div class="list-group-item">
      <p class="lead">These are the current cases your team is working on:</p>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><i class="fa fa-sort fa-fw"></i> Reference</th>
        <th><i class="fa fa-sort fa-fw"></i> Type</th>
        <th><i class="fa fa-sort fa-fw"></i> Tasks Remaining</th>
        <th><i class="fa fa-sort fa-fw"></i> Owner</th>
        <th><i class="fa fa-sort fa-fw"></i> Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="/MS-v2/case1/">REF0782</a></th>
        <td>Mortgage</td>
        <td>1</td>
        <td>You</td>
        <td><p class="text-warning">49 minutes</p></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0033</a></th>
        <td>Mortgage</td>
        <td>5</td>
        <td>Sarah Coleman</td>
        <td><p class="text-danger">8 hours</p></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0543</a></th>
        <td>Mortgage</td>
        <td>7</td>
        <td>Joel Miller</td>
        <td><p class="text-danger">8 hours</p></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0087</a></th>
        <td>Mortgage</td>
        <td>2</td>
        <td>Ellie Williams</td>
        <td><p class="text-success">25 minutes</p></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0021</a></th>
        <td>Mortgage</td>
        <td>3</td>
        <td>-</td>
        <td><p class="text-success">15 minutes</p></td>
      </tr>
    </tbody>
  </table>
</div>

{{/body}}

{{/material}}
