{{<material}}

{{$pageTitle}}
Task
{{/pageTitle}}

{{$heading}}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><i class="fa fa-tasks fa-fw"></i> {{ title }}: Review Draft Register Entries</h3>
    </div>
  </div>
</div>
{{/heading}}

{{$body}}
<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">Summary</h5>
            </div>
            <div class="list-group-item">
              <h5><a href="#alert1"><span class="label label-info"><i class="fa fa-exclamation fa-fw"></i> Consent required</span></a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">Actions</h5>
            </div>
            <div class="list-group-item">
              <a class="btn btn-success btn-lg btn-block" href="/MS-v2/case2/" role="button"><i class="fa fa-check fa-fw fa-lg"></i> Confirm</a>
              <a class="btn btn-danger btn-lg btn-block" href="" role="button"><i class="fa fa-times fa-fw fa-lg"></i> Reject</a>
              <a class="btn btn-default btn-lg btn-block" href="/MS-v2/case1/" role="button"><i class="fa fa-chevron-left fa-fw fa-lg"></i> Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-book fa-fw"></i> Register of Title DT521363</h5>
            </div>
            <div class="list-group-item">
              <h5 class="list-group-item-heading">
                <a data-toggle="collapse" href="#collapseA" aria-expanded="false" aria-controls="collapseA"><i class="fa fa-chevron-right fa-fw"></i> Property Register</a>
              </h5>
              <div class="collapse" id="collapseA">
                <p>NEWHAM</p>
                <ol>
                  <li>

                    <p>(02.06.2008) The Leasehold land shown edged with red on the plan of the above title filed at the Registry and being Flat 27, Violet Court, 36 Barbers Road, London (E13 2HS).</p>
                    <p>NOTE: Only the second floor flat is included in the title.</p>

                  </li>
                  <li>

                    <p>(02.06.2008) Short particulars of the lease(s) (or under-lease(s)) under which the land is held:
                      <ul>
                        <li><p>Date: 11 April 2008</p></li>
                        <li><p>Term: 125 years from 11 April 2008</p></li>
                        <li><p>Parties:</p>
                          <ul>
                            <li><p>(1) Preston Homes (Newham) Limited</p></li>
                            <li><p>(2) Colin Alexander</p></li>
                            <li><p>(3) Lancaster Management Limited</p></li>
                          </ul>
                        </li>
                      </ul></p>
                    </li>
                    <li>

                      <p>(02.06.2008) There are excepted from the effect of registration all estates, rights, interests, powers and remedies arising upon, or by reason of, any dealing made in breach of the prohibition or restriction against dealings therewith inter vivos contained in the Lease.</p>

                    </li>
                    <li>

                      <p>(02.06.2008) The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.</p>

                    </li>
                    <li>

                      <p>(02.06.2008) The landlord's title is registered.
                      </p>

                    </li>
                  </ol>
                </div>
              </div>
              <div class="list-group-item">
                <h5 class="list-group-item-heading">
                  <a data-toggle="collapse" href="#collapseB" aria-expanded="true" aria-controls="collapseB"><i class="fa fa-chevron-down fa-fw"></i> Proprietorship Register</a>
                </h5>
                <div class="collapse in" id="collapseB">
                  <p>Title Absolute</p>
                  <ol>
                    <li>

                      <p>(14.09.2012) <strong>Proprietor:</strong> GRAHAM JACOB JONES of Flat 27, Violet Court, 36 Barbers Road, London E13 2HS</p>

                    </li>
                    <li>

                      <p>(14.09.2012) The price stated to have been paid on 7 September 2012 for the land in this title was £325,000.</p>

                    </li>
                    <!-- this entry below will not stop a mortgage, but it should make a person stop and think -->
                    <li>
                      <div class="panel panel-info" id="alert1">
                        <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-exclamation fa-fw fa-lg"></i> Consent required</h3>
                        </div>
                        <div class="panel-body">
                          <p>(14.09.2012) <strong>Restriction:</strong> No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 7 September 2012 in favour of Virgin Money PLC referred to in the Charges Register.</p>
                        </div>
                        <div class="panel-footer">
                          <a class="btn btn-link" href="/MS-v2/case1/#evidence"><i class="fa fa-search fa-fw"></i> Check evidence</a>
                        </div>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>

              <div class="list-group-item">
                <h5 class="list-group-item-heading">
                  <a data-toggle="collapse" href="#collapseC" aria-expanded="true" aria-controls="collapseC"><i class="fa fa-chevron-right fa-fw"></i> Charges Register</a>
                </h5>
                <div class="collapse" id="collapseC">
                  <ol>
                    <li>
                      <p>(14.09.2012) <strong>Registered Charge</strong> dated 7 September 2012.</p>
                    </li>
                    <li>
                      <p>(14.09.2012) <strong>Proprietor:</strong> VIRGIN MONEY PLC (Co. Regn. No. 6952311) of Jubilee House, Gosforth, Newcastle upon Tyne NE3 4PL.</p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/body}}

  {{/material}}
