{{<material}}

{{$pageTitle}}
Task
{{/pageTitle}}

{{$heading}}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><i class="fa fa-tasks fa-fw"></i> {{ title }}: Review Draft Register Entries</h3>
    </div>
  </div>
</div>
{{/heading}}

{{$body}}
<div class="panel panel-default">
  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><i class="fa fa-book fa-fw"></i> Register of Title DT521363</h4>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        <a data-toggle="collapse" href="#collapseA" aria-expanded="false" aria-controls="collapseA"><i class="fa fa-chevron-right fa-fw"></i> Property Register</a>
      </h4>
      <div class="collapse" id="collapseA">
        <p class="lead">NEWHAM</p>
        <ol>
          <li>

            <p class="lead">(02.06.2008) The Leasehold land shown edged with red on the plan of the above title filed at the Registry and being Flat 27, Violet Court, 36 Barbers Road, London (E13 2HS).</p>
            <p class="lead">NOTE: Only the second floor flat is included in the title.</p>

          </li>
          <li>

            <p class="lead">(02.06.2008) Short particulars of the lease(s) (or under-lease(s)) under which the land is held:
              <ul>
                <li><p class="lead">Date: 11 April 2008</p></li>
                <li><p class="lead">Term: 125 years from 11 April 2008</p></li>
                <li><p class="lead">Parties:</p>
                  <ul>
                    <li><p class="lead">(1) Preston Homes (Newham) Limited</p></li>
                    <li><p class="lead">(2) Colin Alexander</p></li>
                    <li><p class="lead">(3) Lancaster Management Limited</p></li>
                  </ul>
                </li>
              </ul></p>
            </li>
            <li>

              <p class="lead">(02.06.2008) There are excepted from the effect of registration all estates, rights, interests, powers and remedies arising upon, or by reason of, any dealing made in breach of the prohibition or restriction against dealings therewith inter vivos contained in the Lease.</p>

            </li>
            <li>

              <p class="lead">(02.06.2008) The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.</p>

            </li>
            <li>

              <p class="lead">(02.06.2008) The landlord's title is registered.
              </p>

            </li>
          </ol>
        </div>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <a data-toggle="collapse" href="#collapseB" aria-expanded="true" aria-controls="collapseB"><i class="fa fa-chevron-right fa-fw"></i> Proprietorship Register</a>
          <div class="pull-right"><span class="label label-success"><i class="fa fa-plus fa-fw"></i> 1</span></div>
          <div class="pull-right"><span class="label label-info"><i class="fa fa-exclamation fa-fw"></i> 1</span></div>
        </h4>
        <div class="collapse" id="collapseB">
          <p class="lead">Title Absolute</p>
          <ol>
            <li>

              <p class="lead">(14.09.2012) <strong>Proprietor:</strong> GRAHAM JACOB JONES of Flat 27, Violet Court, 36 Barbers Road, London E13 2HS</p>

            </li>
            <li>

              <p class="lead">(14.09.2012) The price stated to have been paid on 7 September 2012 for the land in this title was £325,000.</p>

            </li>
            <!-- this entry below will not stop a mortgage, but it should make a person stop and think -->
            <li>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-exclamation fa-fw fa-lg"></i> <a href="/MS-v2/case1/#evidence">Check for consent</a></h3>
                </div>
                <div class="panel-body">
                  <p class="lead">(14.09.2012) <strong>Restriction:</strong> No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 7 September 2012 in favour of Virgin Money PLC referred to in the Charges Register.</p>
                </div>
              </div>
            </li>

            <li>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-plus fa-fw fa-lg"></i> Restriction</h3>
                </div>
                <div class="panel-body">
                  <p class="lead"><strong>Restriction:</strong> No disposition of the registered estate by the proprietor of the registered estate or by the proprietor of any registered charge, not being a charge registered before the entry of this restriction, is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <mark>13 June 2015</mark> in favour of <mark>SHAWBROOK BANK LIMITED</mark> referred to in the Charges Register.</p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <a data-toggle="collapse" href="#collapseC" aria-expanded="true" aria-controls="collapseC"><i class="fa fa-chevron-right fa-fw"></i> Charges Register</a>
          <div class="pull-right"><span class="label label-success"><i class="fa fa-plus fa-fw"></i> 2</span></div>
        </h4>
        <div class="collapse" id="collapseC">
          <ol>
            <li>
              <p class="lead">(14.09.2012) <strong>Registered Charge</strong> dated 7 September 2012.</p>
            </li>
            <li>
              <p class="lead">(14.09.2012) <strong>Proprietor:</strong> VIRGIN MONEY PLC (Co. Regn. No. 6952311) of Jubilee House, Gosforth, Newcastle upon Tyne NE3 4PL.</p>
            </li>
            <li>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-plus fa-fw fa-lg"></i> Mortgage</h3>
                </div>
                <div class="panel-body">
                  <p class="lead"><strong>Registered Charge</strong> dated <mark>13 June 2015</mark>.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-plus fa-fw fa-lg"></i> Lender</h3>
                </div>
                <div class="panel-body">
                  <p class="lead"><strong>Proprietor:</strong> <mark>SHAWBROOK BANK LIMITED (Co. Regn. No. 388466) of Lutea House, Warley Hill Business Park, The Drive, Great Warley, Brentwood, Essex CM13 8BE</mark>.</p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-success btn-lg" href="/MS-v2/case2/" role="button"><i class="fa fa-check fa-fw fa-lg"></i>Accept</a>
  <a class="btn btn-danger btn-lg" href="#" role="button"><i class="fa fa-times fa-fw fa-lg"></i> Reject</a>
  {{/body}}

  {{/material}}
