{{<internal_gov}}

{{$pageTitle}}Digital Mortgage Applications{{/pageTitle}}

{{$propositionHeader}}<a href="/" id="proposition-name">Digital Mortgage Service</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />
<main id="content" role="main">
  <h1 class="heading-xlarge"><span class="heading-secondary">Digital Mortgage Service</span> Review Applications</h1>
  <div class="grid-row">
    <div class="column-three-quarters">
      <p class="lede">Digital mortgage applications need to be reviewed and approved before they are automatically processed.</p>
      <p>You need to:</p>
      <ul>
        <li>Confirm that an application is related to another, e.g. a protecting search application.</li>
        <li>Confirm that an automatically drafted register is correct.</li>
      </ul>
      <p>You do not need to:</p>
      <ul>
        <li>Check application details have been captured correctly.</li>
        <li>Draft new entries on the register.</li>
      </ul>
      <a class="button button-start" href="/{{version}}/applications/a000101/process" role="button">Start now</a>
    </div> <!-- end 3/4 col -->
  </div> <!-- end row -->
</main>

{{/content}}
{{/internal_gov}}
