{{<unbranded}}

{{$pageTitle}}Casework - case{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/casework-shame-ap.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <div id="content">

      <div class="grid-row">

      <h1 class="visuallyhidden">Case 12345</h1>

        <div class="column-third">

            <h2 class="heading-medium col-top">digital mortgage application eMort225</h2>

            <p>No prior applications against this title (daylist is clear)</p>
            
            <p>Mortgage deed has been electronically signed and all application details have been verified (no action required)</p>
            <p>New version of register has been automatically drafted</p>

<!--             <hr>
            <p><a href="">I'm not sure if i can complete this case/application</a></p> -->

<form>
<fieldset class="inline">
    <legend>
      <span class="form-label-bold">
        Please check the register for anything that will stop you from accepting the application.
      </span>
    </legend>
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="register correct">
      This register is correct
    </label>
    <label class="block-label" for="radio-inline-2" data-target="register-problem">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="register incorrect">
      There is a problem with this register
    </label>
    <div class="panel-indent js-hidden" id="register-problem">
      <label class="form-label" for="nature-of-register-problem">Describe the problem</label>
      <textarea class="form-control" style="width:100%" id="nature-of-register-problem"></textarea>
    </div>
  </fieldset>
  <button class="button">Complete application</button>
  <button class="disabled button">Store application</button>
</form>


        </div> <!-- column-third -->


        <div class="column-two-thirds">
			<h2 class="heading-medium col-top">DT521362</h2>

			<h3 class="heading-medium col-top">A register</h3>
			<p class="district">NEWHAM</p>
			<ol>
				<li>
					<entry>
						<p><span class="entry-date">(02.06.2008)</span> The Leasehold land shown edged with red on the plan of the above title filed at the Registry and being Flat 27, Violet Court, 36 Barbers Road, London (E13 2HS).</p>
						<p>NOTE: Only the second floor flat is included in the title.</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(02.06.2008)</span> Short particulars of the lease(s) (or under-lease(s)) under which the land is held:
						<br>Date        : 11 April 2008
			       		<br>Term        : 125 years from 1 July 2007
			       		<br>Parties     : (1) Preston Homes (Newham) Limited
			            <br>	          (2) Colin Alexander
			            <br>	          (3) Lancaster Management Limited
			            </p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(02.06.2008)</span> There are excepted from the effect of registration all estates, rights, interests, powers and remedies arising upon, or by reason of, any dealing made in breach of the prohibition or restriction against dealings therewith inter vivos contained in the Lease.</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(02.06.2008)</span> The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(02.06.2008)</span> The landlord's title is registered.
						</p>
					</entry>
				</li>
			</ol>


			<h3 class="heading-medium">B register</h3>
			<p class="class-of-title">Title Absolute</p>
			<ol>
				<li>
					<entry>
						<p><span class="entry-date">(14.09.2012)</span> PROPRIETOR: GRAHAM JACOB JONES of Flat 27, Violet Court, 36 Barbers Road, London E13 2HS</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(14.09.2012)</span> The price stated to have been paid on 7 September 2012 for the land in this title and in title number DT521363 was £325,000.</p>
					</entry>
				</li>
			<!-- this entry below will not stop a mortgage, but it should make a person stop and think -->
				<li>
					<entry>
						<p><span class="entry-date">(14.11.2014)</span> RESTRICTION: No disposition of the registered estate (other than a charge) by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 31 October 2014 in favour of Virgin Money PLC referred to in the Charges Register.</p>
					</entry>
				</li>
				<!-- this b reg entry is added by our Shawbrook mortgage application -->  
				<h3 class="heading-small visuallyhidden"><a id="proposed-entries-b">proposed b entry</a></h3>
				<li>
					<entry class="new">
					    <p>RESTRICTION: No disposition of the registered estate by the proprietor of the registered estate or by the proprietor of any registered charge, not being a charge registered before the entry of this restriction, is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 13 June 2015 in favour of SHAWBROOK BANK LIMITED referred to in the Charges Register.</p>
			    	</entry>
			    </li>
			</ol>

			<h3 class="heading-medium">C register</h3>
			<ol>
				<li>
					<entry>
						<p><span class="entry-date">(14.11.2014)</span> REGISTERED CHARGE dated 31 October 2014 affecting also title DT521363.</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(14.11.2014)</span> Proprietor: VIRGIN MONEY PLC (Co. Regn. No. 6952311) of Jubilee House, Gosforth, Newcastle upon Tyne NE3 4PL.</p>
					</entry>
				</li>
				<!-- these two c reg entries are added by the mortgage application -->
				<h3 class="heading-small visuallyhidden"><a id="proposed-entries-c">proposed c entries</a></h3> 
				<li>
					<entry class="new">
						<p>REGISTERED CHARGE dated 13 June 2015.</p>
					</entry>
				</li>
				<li>
					<entry class="new">
						<p>Proprietor: SHAWBROOK BANK LIMITED (Co. Regn. No. 388466) of Lutea House, Warley Hill Business Park, The Drive, Great Warley, Brentwood, Essex CM13 8BE.</p>
					</entry>
				</li>	
			</ol>


 		</div>  <!-- column-two-thirds -->

      </div> <!-- grid row -->

  </div> <!-- content -->

</main>


{{/content}}


{{/unbranded}}
