{{<internal_gov}}

{{$pageTitle}}Casework - case{{/pageTitle}}
{{$propositionHeader}}<a href="/casework-AP/list2" id="proposition-name">digital services : mortgage applications</a>{{/propositionHeader}}


{{$content}}
<link href="/public/stylesheets/casework-shame-ap.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <div id="content">

      <div class="grid-row">

      <h1 class="visuallyhidden">digi-mortgage-0117</h1>

        <div class="column-third">



            <h2 class="heading-medium col-top">digi-mortgage-0130</h2>

            <p><b>Bob Kitto is currently working on this</b></p>
            <p><a href="/casework-AP/list2">&lt; Back to list</a>

            <p>No prior applications against this title (daylist is clear)</p>
            
            <p>Mortgage deed has been digitally signed and all application details have been verified (no checks needed)</p>
            
            <p class="new">New version of the register has been automatically drafted</p>



        </div> <!-- column-third -->


        <div class="column-two-thirds">
			<h2 class="heading-medium col-top">CL460071 - draft register</h2>

			<h3 class="heading-medium col-top">A register</h3>
			<p class="district">CORNWALL</p>
			<ol>
				<li>
					<entry>
						<p><span class="entry-date">(22-05-2014)</span> The Freehold land shown edged with red on the plan of the above title filed at the Registry and being <span class="property-address">17 Kenilworth Road, Luton, LU1 1DQ</span>.</p>
					</entry>
				</li>
			</ol>


			<h3 class="heading-medium">B register</h3>
			<p class="class-of-title">Title Absolute</p>
			<ol>
				<li>
					<entry>
						<p><span class="entry-date">(22-05-2014)</span> Proprietor: <span class="proprietor-name">SCOTT OAKES</span> of <span class="proprietor-name">17 Kenilworth Road, Luton LU1 1DQ</span>.</p>
					</entry>
				</li>
				<li>
					<entry>
						<p><span class="entry-date">(22-05-2014)</span> The price stated to have been paid on <span class="pp-date">1 May 2014</span> was <span class="pp-amount">£100,000</span>.</p>
					</entry>
				</li>
			</ol>

			<h3 class="heading-medium">C register</h3>
			<ol>
			
				<!-- these two c reg entries are added by the mortgage application -->
				<h3 class="heading-small visuallyhidden"><a id="proposed-entries-c">proposed c entries</a></h3> 
				<li>
					<entry class="new">
						<p>REGISTERED CHARGE dated 13 May 2015.</p>
					</entry>
				</li>
				<li>
					<entry class="new">
						<p>Proprietor: #GE MONEY HOME FINANCE LIMITED# (Co. Regn. No. 592986) of Building 4, Hatters Lane, Croxley Green Business Park, Watford WD18 8YF.</p>
					</entry>
				</li>	

	
			</ol>

 		</div>  <!-- column-two-thirds -->

      </div> <!-- grid row -->

  </div> <!-- content -->

</main>

{{/content}}



{{/internal_gov}}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
$( "input#cannot-complete-application" ).click(function() {

  if( $( "button#store-button" ).hasClass( "disabled" ))
  {
    $( "button#store-button" ).removeClass( "disabled" );
  	$( "button#complete-button" ).addClass( "disabled" );
  }
  else
  {
  	$( "button#store-button" ).addClass( "disabled" );
  	$( "button#complete-button" ).removeClass( "disabled" );
  }

});
</script>
