{{<unbranded}} {{$pageTitle}}list of mortgage applications{{/pageTitle}} {{$content}}

<link href="/public/stylesheets/casework-shame-ap.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <h1 class="heading-large col-top">Digital mortgage applications</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- THE CASE LIST -->
      <table class="casework-dashboard">

        <thead>
          <tr>
            <th width="30%" scope="col">Application ref</th>
            <th width="30%" scope="col">Status</th>
            <th width="20%" scope="col">Complete by ▼</th>
          </tr>
        </thead>
        <tbody>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy1"><b>eMort221 - example 1</b></a></td>
              <td>no prior applications - <br>check drafted register</td>

              <td class="date-received">Friday</td>
            </tr>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy2"><b>eMort222 - example 2</b></a></td>
              <td>no prior applications - <br>check drafted register</td>

              <td class="complete-by">Friday</td>
            </tr>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy3"><b>eMort223 - example 3</b></a></td>
              <td>Bob Kitto is currently working on it</td>
              <td class="complete-by">Monday</td>
            </tr>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy4"><b>eMort224 - example 4</b></a></td>
              <td>no prior applications - <br>check drafted register</td>
              <td class="complete-by">Monday</td>
            </tr>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy5"><b>eMort225 - example 5</b></a></td>
              <td>no prior applications - <br>check drafted register</td>
              <td class="complete-by">next Thursday</td>
            </tr>

            <tr class="summary">
              <td><a href="/casework-AP/case-task-copy4"><b>eMort227 - example 4 again</b></a></td>
              <td>no prior applications - <br>check drafted register</td>
              <td class="complete-by">Tuesday 18th August</td>
            </tr>

<!--           <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Peterson &amp; Co</b></a></td>
            <td>0/4</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Epic Law</b></a></td>
            <td>0/1</td>
            <td>You opened it today</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr> -->

<!--           <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Cambourne Estates</b></a></td>
            <td>2/3</td>
            <td>You are working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Peterson &amp; Co</b></a></td>
            <td>1/6</td>
            <td>Jen is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Peterson &amp; Co</b></a></td>
            <td>0/4</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>GGTR</b></a></td>
            <td>0/3</td>
            <td class="unopened-text">Unopened</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr> -->

<!--           <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Jennifer Tsau</b></a></td>
            <td>2/3</td>
            <td>Francis is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Peterson &amp; Co</b></a></td>
            <td>3/4</td>
            <td>Jen opened it yesterday</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Peterson &amp; Co</b></a></td>
            <td>3/4</td>
            <td>Alex is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary">
            <td><a href="/case-dm0112-vx"><b>Paul Peters </b>and<b> Amed Roul</b></a></td>
            <td>2/3</td>
            <td>Rosemary is working on it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr> -->

<!--           <tr class="summary">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>  -->

<!-- 
          <tr class="summary done-row">
            <td><a href="/case-dm0112-vx"><b>Epic Law</b></a></td>
            <td class="finished-text">Alex finished it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary done-row">
            <td><a href="/case-dm0117-vx"><b>Timothy Eggar</b></a></td>
            <td class="finished-text">Jen finished it</td>
            <td class="date-received">22 June 2015 17:20</td>
          </tr>

          <tr class="summary done-row">
            <td><a href="/case-dm0112-vx"><b>Cambourne Estates</b></a></td>
            <td class="finished-text">You finished it</td>
            <td class="date-received">22 June 2015 12:23</td>
          </tr>

          <tr class="summary done-row">
            <td><a href="/case-dm0117-vx"><b>Cambourne Estates</b></a></td>
            <td class="finished-text">Jen finished it</td>
            <td class="date-received">22 June 2015 17:20</td>
          </tr> -->



        </tbody>
      </table>

    </div>
    <div class="column-third">

  <!--     <h2 class="heading-medium no-top-margin">People working on this list</h2>
        <ul class="no-bullets">
          <li><a href="">You</a></li>
          <li><a href="">Alex Chee</a></li>
          <li><a href="">Jen Flosster-Riggs</a></li>
          <li><a href="">Francis Italiano</a></li>
          <li><a href="">Rosemary Goodman</a></li>
        </ul>
        <p class="right-footnote">5 people</p>
          <p class="right-footnote">15 cases in each packet</p></td>


        <h2 class="heading-medium">List velocity</h2>
            <span class="headline-stat">65</span>&nbsp;&nbsp;&nbsp;
            <span class="level2-stat">&#x21E7; 12%</span>
            <br>cases per day / weekly change</p>

        <h2 class="heading-medium">Improvements</h2>
          <p>Dev team are fixing <a href="/bugs-vx">2 bugs</a>, and <a href="/bugs-vx">broken case DM1200</a>
          </p>
          New features due Monday:
          <ul>
            <li><a href="/bugs-vx">highlight restricitions</a></li>
            <li><a href="/bugs-vx">show applicant estimated competion date</a></li>
          </ul>
 -->
        </div>
    </div>
  </div>



</main>

{{/content}} 
{{/unbranded}}
