{{<layout}}

{{$pageTitle}}Casework - title{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<h1 class="titleNumber">DT521362</h1>

<h2>A register</h2>
<p class="district">NEWHAM</p>
<ol>
	<li>
		<entry>
			<p><span class="entry-date">(02.06.2008)</span> The Leasehold land shown edged with red on the plan of the above title filed at the Registry and being Flat 27, Violet Court, 36 Barbers Road, London (E13 2HS).</p>
			<p>NOTE: Only the second floor flat is included in the title.</p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(02.06.2008)</span> Short particulars of the lease(s) (or under-lease(s)) under which the land is held:
			<br>Date        : 11 April 2008
       		<br>Term        : 125 years from 1 July 2007
       		<br>Parties     : (1) Preston Homes (Newham) Limited
            <br>	          (2) Colin Alexander
            <br>	          (3) Lancaster Management Limited
            </p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(02.06.2008)</span> There are excepted from the effect of registration all estates, rights, interests, powers and remedies arising upon, or by reason of, any dealing made in breach of the prohibition or restriction against dealings therewith inter vivos contained in the Lease.</p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(02.06.2008)</span> The title includes any legal easements referred to in clause LR11.1 of the registered lease but is subject to any rights that are granted or reserved by the lease and affect the registered land.</p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(02.06.2008)</span> The landlord's title is registered.
			</p>
		</entry>
	</li>
</ol>


<h2>B register</h2>
<p class="classOfTitle">Title Absolute</p>
<ol>
	<li>
		<entry>
			<p><span class="entry-date">(14.09.2012)</span> PROPRIETOR: GRAHAM JACOB JONES of Flat 27, Violet Court, 36 Barbers Road, London E13 2HS</p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(14.09.2012)</span> The price stated to have been paid on 7 September 2012 for the land in this title and in title number DT521363 was £325,000.</p>
		</entry>
	</li>
<!-- this entry below will not stop a mortgage, but it should make a person stop and think -->
	<li>
		<entry>
			<p><span class="entry-date">(14.11.2014)</span> RESTRICTION: No disposition of the registered estate (other than a charge) by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 31 October 2014 in favour of Virgin Money PLC referred to in the Charges Register.</p>
		</entry>
	</li>
</ol>

<h2>C register</h2>
<ol>
	<li>
		<entry>
			<p><span class="entry-date">(14.11.2014)</span> REGISTERED CHARGE dated 31 October 2014 affecting also title DT521363.</p>
		</entry>
	</li>
	<li>
		<entry>
			<p><span class="entry-date">(14.11.2014)</span> Proprietor: VIRGIN MONEY PLC (Co. Regn. No. 6952311) of Jubilee House, Gosforth, Newcastle upon Tyne NE3 4PL.</p>
		</entry>
	</li>
</ol>



</main>

{{/content}}

{{/layout}}
