{{<internal_gov}}

{{$pageTitle}}
	Andys protos
{{/pageTitle}}

{{$homepageUrl}}/{{/homepageUrl}}

{{$propositionHeader}}<span id="proposition-name">digital mortgage service - processing applications - prototypes</span>
{{/propositionHeader}}

{{$content}}

<link href="/public/stylesheets/casework-shame-ap-v2.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

	<h1 class="heading-large col-top">Prototypes { and visual musings :) }</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>Private Beta (and further out) ideas.</p>

	<h2 class="heading-medium">Private Beta - designing from content up</h2>
	<h3 class="heading-small">Last usability testing</h3>
	<p>people didn't 'get' the task, and we led them to follow existing paper processes</p>
	<h3 class="heading-small">this time - hopefully...</h3>
	<p>Set the scene for people and make the 'task' absolutely clear.  Remove anything not needed to achive the goal of <em>'seeing if this auto drafted register can be accepted as the new version'</em> / <em>'use your skilled eye/legal knowledge to see if there is something getting in the way of recording the mortgage interest on the register'</em></p>
	<p>Also we think we've been painting people into a corner - there has been no option but to accept the new register.  People have seemed uncomfortable - so also give them a 'way out' - a way to say the auto-drafted register is wrong</p>
	<ul>
		<li><a href="/casework-AP-v2/list">list of digital mortgage applications v2 (latest)</a></li>
		<li><a href="/casework-AP-v1/list">list of digital mortgage applications v1</a></li>
	</ul>

	<h3 class="heading-small">further out - could be private beta! (more to come)</h3>
	<ul>
		<!-- <li><a href="/casework-AP-v2/dashboard">dashboard - list of 'cases'</a></li> -->
		<li><a href="/casework-AP-v2/list-cgt">rich dashboard - list of 'cases'</a></li>
	</ul>

<!-- 	<ul>
		<li>
			<a href="/examples">Example pages</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul> -->

</main>

{{/content}}

{{/internal_gov}}
