{{<internal_gov}} {{$pageTitle}}list of mortgage applications{{/pageTitle}} 

{{$propositionHeader}}<a href="/casework-AP-v2/list3" id="proposition-name">digital services : mortgage applications</a>{{/propositionHeader}}




{{$content}}


<link href="/public/stylesheets/casework-shame-ap-v2.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">
<h2 class="heading-large col-top">Case list<span style="float:right; margin-bottom:0; color:grey; font-size:19px; font-weight:400;">Packet of 15 cases received today 12:23</span></h2>
      <!-- THE CASE LIST -->
      <table class="casework-dashboard">

        <thead>
          <tr>
            <th width="40%" scope="col">Applicant</th>
            <th width="45%" scope="col">Status</th>
            <th width="15%" scope="col">Due ▼</th>
          </tr>
        </thead>
        <tbody>

            <tr class="summary">
              <td><a href="/casework-AP-v2/dmort0130"><b>DM0130 - Coldpress Solicitors</b></a></td>
              <td><span class="unopened-text">unopened</span><br>
              </td>
              <td class="complete-by">tomorrow</td>
            </tr>

            <tr class="summary">
              <td><b>DM0114 - Coldpress Solicitors</b></a></td>
              <td><span class="investigate">under investigation</span><br>reported by Bob Kitto <span class="reported-by">Mon 24th.<br>cannot accept autodraft - B register contains restriction.</span></td>
              <td class="complete-by"></td>
            </tr>

            <tr style="background-color: #DEE0E2;" class="summary">
            <!-- b entry needing consideration -->
              <td><a href="#"><b>DM0112 - Coldpress Solicitors</b></a></td>
              <td>completed by you</td>

              <td class="date-received">today</td>
            </tr>


            <tr style="background-color: #DEE0E2;" class="summary">
            <!-- b entry needing consideration -->
              <td><a href="#"><b>DM0117 - Coldpress Solicitors</b></a></td>
              <td>completed by you</td>

              <td class="date-received">today</td>
            </tr>

            <tr style="background-color: #DEE0E2;" class="summary">
            <!-- b entry needing consideration -->
              <td><a href="#"><b>DM0118 - Coldpress Solicitors</b></a></td>
              <td>completed by Bob Kitto</td>

              <td class="date-received">today</td>
            </tr>


        </tbody>
      </table>

    </div>
    <div class="column-quarter">

      <h2 class="heading-medium col-top">People working on this list</h2>
        <ul class="no-bullets">
          <li><a href="">You</a></li>
          <li><a href="">Bob Kitto</a></li>
        </ul>
        <a style="text-decoration:underline;" href="#"><span style="margin-bottom:0; color:grey; font-size:19px; font-weight:400;"><u>Get another 15 cases</u></span></a>

        <h2 class="heading-medium">List velocity</h2>
            <span class="headline-stat">67</span>&nbsp;&nbsp;&nbsp;
            <span class="level2-stat">&#x21E7; 14%</span>
            <br>cases per day / weekly change</p>

        <h2 class="heading-medium">Improvements</h2>
          <p>Dev team are fixing <a href="/bugs-vx">2 bugs</a>, and <a href="/bugs-vx">case DM0120</a>
          </p>
          New features due Monday:
          <ul>
            <li><a href="/bugs-vx">highlight restricitions</a></li>
            <li><a href="/bugs-vx">show applicant estimated competion date</a></li>
          </ul>    
    </div>
  </div>



</main>

{{/content}} 
{{/internal_gov}}
