{{<material}}

{{$pageTitle}}
Cases
{{/pageTitle}}

{{$heading}}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><i class="fa fa-folder-o fa-fw"></i> {{ title }}</h3>
    </div>
  </div>
</div>
{{/heading}}

{{$body}}
<div class="panel panel-default table-responsive">
  <div class="list-group">
    <div class="list-group-item">
      <h5 class="list-group-item-heading"><i class="fa fa-list fa-fw"></i> Case List</h5>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Reference</th>
        <th>Type</th>
        <th>Status</th>
        <th>Updated</th>
        <th><i class="fa fa-sort-desc fa-fw"></i> Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="/MS-v3/case1/">REF0782</a></th>
        <td>Mortgage</td>
        <td>In Progress</td>
        <td>15 hours ago</td>
        <td>1 day</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0033</a></th>
        <td>Mortgage</td>
        <td>In Progress</td>
        <td>3 hours ago</td>
        <td>8 hours</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0543</a></th>
        <td>Mortgage</td>
        <td>In Progress</td>
        <td>2 hours ago</td>
        <td>7 hours</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0087</a></th>
        <td>Mortgage</td>
        <td>New</td>
        <td>Never</td>
        <td>25 minutes</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">REF0021</a></th>
        <td>Mortgage</td>
        <td>New</td>
        <td>Never</td>
        <td>15 minutes</td>
      </tr>
    </tbody>
  </table>
</div>
{{/body}}

{{/material}}
