{{<internal_gov}} 

{{$pageTitle}}Register - quality check{{/pageTitle}} 

{{$propositionHeader}}<a href="/quality-check-v3/list-idea-3a-alt" id="proposition-name">Reviewing registers</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/quality-check-v3.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">

  <!-- <h1 class="heading-medium col-top">Digital mortgage applications</h1> -->

  <div class="grid-row">
    <div class="column-three-quarters">

    <!-- <h2 class="heading-medium col-top">Registers drafted as a result of digital mortgages</h2> -->

      <div class="tabs">
      
        <div class="tabs-nav">
          <ul class="tabs-list">
            <li><a href="#tab-1">Drafts to approve (5)</a></li>
            <li><a href="#tab-2">Declined drafts (0)</a></li>
            <li><a href="#tab-3">Done (7)</a></li>
          </ul>
        </div>
        
        <div class="tabs-content">
        
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3" width="100%" scope="col">Approve draft registers</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v3/dmort0101">A000101 - Title: CL460071
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/quality-check-v3/dmort0102">A000102 - Title: BD161882
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v3/dmort0103">A000103 - Title: GL00453
                      </td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="/quality-check-v3/dmort0004">A000104 - Title: FL522310
                      </td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="/quality-check-v3/dmort0005">A000105 - Title: DN44038
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="idea3 visuallyhidden" width="100%" scope="col">drafting errors</th>
                  </tr>
                </thead>
                <tbody>

                    <tr class="row-display-1">
                      <td>No drafting errors
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="tabs-panel" id="tab-3">
            <div class="tabs-panel-inner">
              <table class="quality-dashboard">

                <thead>
                  <tr>
                    <th class="heading-large" width="100%" scope="col">completed today</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="row-display-1">
                      <td><a href="">A000099 - Title: BG750045</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000098 - Title: LY030071</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000097 - Title: BD161882</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000096 - Title: BB667071</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000095 - Title: GL166439</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000094 - Title: DN000071</a></td>
                    </tr>
                    <tr class="row-display-1">
                      <td><a href="">A000093 - Title: LA74373</a></td>
                    </tr>
                    <tr class="row-display-1-2">
                      <td><a href="">A000092 - Title: GG00746</a></td>
                    </tr>
                </tbody>
              </table>

              <h3 class="heading-medium"><a href="">see this weeks completed checks</a></h3>
            </div>
          </div> <!-- tab3 end -->
        
        </div> <!-- tabs content end -->
      
      </div> <!-- tabs end -->


    </div>
    <div class="column-quarter">


      <!-- <h2 class="heading-medium">Checked</h2> -->
            <span class="headline-stat">7 / 43</span>
            <br>checked today / this week</p>

      <!-- <h2 class="heading-medium">Register errors</h2> -->
            <span class="headline-stat">0</span>

            <br>draft errors this week</p>
   
    </div>

  </div>



</main>

{{/content}} 
{{/internal_gov}}
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<script src="/public/javascripts/jquery.tabs.js"></script>

