{{<internal_gov}}

{{$pageTitle}}Digital Mortgage Applications{{/pageTitle}}

{{$propositionHeader}}<a href="/" id="proposition-name">Digital Mortgage Service</a>{{/propositionHeader}}


{{$content}}


<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-three-quarters">
      <h1 class="heading-large app-page-heading">Application Approval</h1>
      <p>Digital mortgage applications need to be reviewed and approved before being automatically processed.</p>
      <p>You need to:</p>
      <ul>
        <li>Confirm that an application is related to another, e.g. a protecting search application.</li>
        <li>Confirm that an automatically drafted register of title is able to be completed.</li>
      </ul>
      <p>You do not need to:</p>
      <ul>
        <li>Check details from an application have been captured correctly.</li>
        <li>Draft new entries on the register of title.</li>
      </ul>
      <a class="button button-start" href="/{{version}}/applications/a000101/draft" role="button">Start now</a>
    </div> <!-- end 3/4 col -->
    <div class="column-quarter">
      <span class="headline-stat">{{done}} / {{total}}</span>
      <p>Completed</p>
      <br>

      <span class="headline-stat">87%</span>
      <p>not going to CORA</p>
    </div> <!-- end 1/4 col -->
  </div> <!-- end row -->
</main>

{{/content}}
{{/internal_gov}}
