{{<internal_gov}}

{{$pageTitle}}Digital Mortgage - Rejected{{/pageTitle}}
{{$propositionHeader}}<a href="/" id="proposition-name">Digital Mortgage Service</a>{{/propositionHeader}}

{{$content}}
<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-three-quarters">
      <div class="mortgage-successful">
        <h1 class="heading-large">Application {{application}} rejected</h1>
        <p class="lede">This application has been routed to existing casework systems for manual processing.</p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-three-quarters">
      <a class="button button-start" href="/{{version}}/applications/a000102/draft" role="button">Next Application</a>
    </div>
  </div>
</main>

{{/content}}
{{/internal_gov}}
