{{<internal_gov}}

{{$pageTitle}}Digital Mortgage - Related Application{{/pageTitle}}

{{$propositionHeader}}<a href="/" id="proposition-name">Digital Mortgage Service</a>{{/propositionHeader}}


{{$content}}
<link href="/public/stylesheets/beta-v1.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">Application {{application}}</span>
    Are these two applications related?
  </h1>
  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium col-top">This application: <span class="application-info-item">{{application}}</span></h2>
      <div class="text">
        <ul class="no-bullets application-info">
          <li>Type: <span class="application-info-item">{{data.type}}</span></li>
          <li>Title: <span class="application-info-item">{{data.title_number}}</span></li>
          <li>Lender: <span class="application-info-item">{{data.lender}}</span></li>
          <li>Conveyancer: <span class="application-info-item">{{data.conveyancer}}</span></li>
        </ul>
      </div>
    </div>
    <div class="column-half">
      <h2 class="heading-medium col-top">Other Application: <span class="application-info-item">{{data.related.application}}</span></h2>
      <div class="text">
        <ul class="no-bullets application-info">
          <li>Type: <span class="application-info-item">{{data.related.type}}</span></li>
          <li>Title: <span class="application-info-item">{{data.related.title_number}}</span></li>
          <li>Lender: <span class="application-info-item">{{data.related.lender}}</span></li>
          <li>Conveyancer: <span class="application-info-item">{{data.related.conveyancer}}</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-three-quarters">
      <form action="process">
        <fieldset class="inline">
          <legend>
            <span class="form-label-bold">Are these two applications related?</span>
          </legend>

          <div class="form-group form-group-compound">
            <label class="block-label" for="radio-indent-1">
              <input id="radio-indent-1" name="related" value="true" type="radio"> Yes
            </label>

            <label class="block-label" data-target="autodraft-problem" for="radio-indent-2">
              <input id="radio-indent-2" name="related" value="false" type="radio"> No
            </label>
          </div>

          <div class="panel-indent js-hidden" id="autodraft-problem">
            <label class="form-label" for="priority-error">Please describe why:</label>
            <textarea class="form-control" style="width:100%" id="priority-error"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="button">Continue</button>
          </div>
        </fieldset>
      </form>
    </div>  <!-- column-two-thirds -->
  </div> <!-- grid row -->
</main>

{{/content}}
{{/internal_gov}}
