{{<layout}}

{{$pageTitle}}Casework - case{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-medium">Case x123</h1>

	<p class="lede">Whats going on: Parent (Sarah Curry) died, leaving house A to son.  Son (John Curry) and wife (Linda Curry) are moving into house A and taking out a mortgage (to make home improvements).  They own their own home - B - on which they currently have a mortgage, and are changing that mortgage to a buy to let mortgage, as they are planning to let out that house soon.</p>

	<div class="grid-row">
		<div class="column-half">
	    	<h2 class="heading-small">Solicitor</h2>
	    	<ul>
	      		<li>Patrick Terrance of Terrance Howell Solicitors, 14 Airport Drive, Wimbledon, W1 6GT</li>
	      	</ul>
	      	<p></p>
	    </div>
	    <div class="column-half">
	      	<h2 class="heading-small">People</h2>
	      	<ul>
	      		<li>Sarah Curry (deceased) of 23 Orchard View, Wimbledon, W1 2FD</li>
	      		<li>John Curry of Flat 43 High Towers, Croydon, SW8 3EP</li>
	      		<li>Linda Curry of Flat 43 High Towers, Croydon, SW8 3EP</li>
	      	</ul>
	    </div>
  	</div>

	<div class="grid-row">
	    <div class="column-half">
	      	<h2 class="heading-small">Lenders</h2>
	      	<ul>
	      		<li>HSBC Bank - mortgage application - 23 Orchard View</li>
	      		<li>Barclays Bank - discharge standard repayment morgtgage  - Flat 43 High Towers</li>
	      		<li>Virgin Money - New buy to let mortgage - Flat 43 High Towers</li>
	      	</ul>
	    </div>
	     <div class="column-half">
	    	<h2 class="heading-small">Properties (titles)</h2>
	      	<p></p>
	    </div>
  	</div>

	<h2 class="heading-small">Changes</h1>

 	<table class="change-list">
    	<thead>
	        <tr>
	          <th width="70%" scope="col">task</th>
	          <th width="10%" scope="col">title</th>
	          <th width="20%" scope="col">status</th>
	        </tr>
     	</thead>

    	<tbody>

		    <tr>
		      <td>confirm death of sole proprietor - Sarah Curry</td>
		      <td>ST708843</td>
		      <td class="task-complete">confirmed by probate office</td>
		    </tr>

		    <tr>
		      <td>change property ownership of 23 Orchard View, Wimbledon, W1 2FD, to John and Linda Curry</td>
		      <td>ST708843</td>
		      <td class="task-complete">complete</td>
		    </tr>

		    <tr>
		      <td>new mortgage - 23 Orchard View</td>
		      <td>ST708843</td>
		      <td>auto drafted</td>
		    </tr>

		    <tr>
		      <td>discharge standard mortgage - Flat 43 High Towers</td>
		      <td>DB530042</td>
		      <td>complete</td>
		    </tr>

		    <tr>
		      <td>Virgin Money - buy to let mortgage - Flat 43 High Towers</td>
		      <td>DB530042</td>
		      <td>not started</td>
		    </tr>
      	</tbody>
    </table>


    <h2 class="heading-small">Documents</h1>

 	<table class="change-list">
    	<thead>
	        <tr>
	          <th width="20%" scope="col">Original</th>
	          <th width="80%" scope="col">summary</th>
	        </tr>
     	</thead>

    	<tbody>

		    <tr>
		      <td><a href="#">death certificate</a></td>
		      <td>Sarah Curry</td>
		    </tr>

		    <tr>
		      <td><a href="#">proof of inheritance</a></td>
		      <td>John Curry</td>
		    </tr>
      	</tbody>
    </table>


</main>

{{/content}}

{{/layout}}
