{{<layout}}

{{$pageTitle}}Digital Mortgage Processing BETA Prototypes{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">Digital Mortgage Processing</span>
    BETA Prototypes
  </h1>

  <p class="lede">This is an index of all versions of prototypes produced in the BETA phase of Digital Mortgage Processing.</p>
  <h3 class="heading-medium"><a href="beta-v1/caselist-01">Version 1</a> - 21st December 2015</h3>
  <details>
    <summary><span class="summary">Change log</span></summary>
    <div class="panel panel-border-narrow">
      <ul>
        <li>Initial version</li>
        <li>Iterated from final ALPHA version <a href="/quality-check-v3/list-idea-3a">here</a></li>
      </ul>
    </div>
  </details>

  <h3 class="heading-medium"><a href="beta-v2/applications">Version 2</a> - 9th February 2016</h3>
  <details>
    <summary><span class="summary">Change log</span></summary>
    <div class="panel panel-border-narrow">
      <ul>
        <li>Added service start page</li>
        <li>Removed table of applications. All applications need to be processed so no need to choose from a list, just get one to start processing.</li>
        <li>Where there are no related applications, process flow goes straight to draft register check.</li>
        <li>Added page heading where single question is asked. Are these related? Is this register correct? etc.</li>
        <li>Application currently being processed is always in sub-heading of page.</li>
        <li>Related applications page now compares two applications side by side, highlighting the pertenant details.</li>
        <li>Negative action on both question pages now asks the user to describe why in free text, no template.</li>
        <li>Removed application details from right side of draft register page.</li>
        <li>Removed infill value highlighting from draft register entries.</li>
        <li>Removed manual mark off step from flow. Thought this was best confirmed on negative completion of process.</li>
        <li>Positive completion of application processing shows confirmation that the application on title will be automatically processed.</li>
        <li>Negative completion of application processing shows confirmation that the application on title will not be automatically processed and will be available for manual processing in existing systems.</li>
        <li>At the end of each application processing, a next application button appears, until there are no more to process.</li>
      </ul>
    </div>
  </details>

  <h3 class="heading-medium"><a href="beta-v3/applications">Version 3</a> - Work in Progress</h3>
  <details>
    <summary><span class="summary">Change log</span></summary>
    <div class="panel panel-border-narrow">
      <ul>
        <li>Removed completion count and percentage. This will appear on a dashboard style view for managers, not all users.</li>
        <li>Always show related applications step even if no related applications. Keep the experience for each application process flow consistent.</li>
        <li>Add "What happens next" to confirmation screens (postive and negative).</li>
        <li>Related applications layout change to a tabular format. More easy to scan and compare information.</li>
        <li>Removed conveyancer from related applications.</li>
        <li>Changed confirmation screen text for final application, making it clear there are no more to do.</li>
      </ul>
    </div>
  </details>
</main>

{{/content}}

{{/layout}}
