{{<bootstrap}}

{{$pageTitle}}
  {{ title }}
{{/pageTitle}}

{{$body}}

	<div class="jumbotron">
	  <h1>{{ title }}</h1>
	  <p>Welcome to {{ title }}</p>
	  <p>this is an example page on top of the bootstrap template</p>
	</div>

	<ul>
		<li><a href="/index">Top Index page</a></li>
		<li><a href="/index-MS">Matt Index page (this)</a></li>
		<li><a href="/casework-MS/dashboard">Casework - dashboard</a></li>
		<li><a href="/casework-MS/case">Casework - case</a></li>
	</ul>


{{/body}}

{{/bootstrap}}
