
{{<internal_gov}}

{{$pageTitle}}
	digital mortgage service - internal users - protoypeing kit
{{/pageTitle}}

{{$homepageUrl}}/{{/homepageUrl}}

{{$propositionHeader}}<span id="proposition-name">digital mortgage service - internal users</span>
{{/propositionHeader}}


{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">Prototyping UI for staff involved in digital mortgage work</h1>
	<!-- feel free to change this page to suit your needs -->


	<h2 class="heading-medium">To Do</h2>
	<ul>
		<li>Make this page better</li>
	</ul>


	<h2 class="heading-large">Protos</h2>

	<h3 class="heading-medium">Quality Checking - latest (14 Oct 2015 onward)</h3>
	<p>First set of protos for latest thinking about the digital mortgage process</p>
	<p>User (staff member) is not processing the mortgage application.  Most is automated, and the user is to either a) deal with the exception to automatic processing, or b) quality checking the output (register) from the automatic process</p>
	<p>a) is dealt with by exisiting applications (CORA etc).  These prototypes are about b)</p>
	<p>We are...  quality checking (all or some) of the output (new register edition/version) of the automatic digital mortgage process</p>
	<p><b>Not:</b> casework; or processing the application.  <b>Is:</b> quality checking / building confidence in auto process</p>
	<p>Better/good words needed to describe this</p>
	<ul>
		<li><a href="/quality-check-v1/index">Quality Check: Digital Mortgage process output</a></li>
	</ul>


	<h2 class="heading-medium">Old stuff - a different process/model - Casework proto(s) (new - 24th July onward)</h2>
	<p>Aim: making one proto. Current: two places to get quickly started from</p>
	<ul>
		<li><a href="/casework-v3/index">Digital Mortgage Processing - latest version</a></li>
		<li><a href="index-MS">Casework - Matt S starting point (bootstrap base)</a></li>
	</ul>

	<h2 class="heading-small">misc thinking - even older - Casework Jam (Mat J, Clara, Andy P)</h2>
	<ul>
		<li><a href="/casework-jam/dashboard">Casework - dashboard</a></li>
		<li><a href="/casework-jam/case">Casework - case</a></li>
		<li><a href="/casework-jam/title">Casework - title</a></li>
	</ul>

	<h2 class="heading-small">other things in the kit</h2>
	<ul>
		<li>
			<a href="/examples">Example pages</a>
		</li>
	</ul>

	<h2 class="heading-small">Resources</h2>

	<ul>
		<li>
			<a href="">Add useful links :)</a>
		</li>
	</ul>

</main>

{{/content}}

{{/internal_gov}}
