{{<material}}

{{$pageTitle}}
  {{ title }}
{{/pageTitle}}

{{$body}}
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pages</h3>
        </div>
        <div class="list-group">
          <a href="/index" class="list-group-item">Top Index page</a>
          <a href="/casework-MS/cases" class="list-group-item">Cases</a>
          <a href="/casework-MS/case" class="list-group-item">Case</a>
        </div>
      </div>
    </div>
  </div>

{{/body}}

{{/material}}
