{{<unbranded_template}}

{{$pageTitle}}
	Casework Prototyping kit
{{/pageTitle}}

{{$homepageUrl}}/{{/homepageUrl}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">Welcome to the Casework prototyping kit</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>This is the index.html page - we recommend you put links to key pages here.</p>

	<h3 class="heading-medium">To Do</h3>
	<ul>
		<li>Make this page look nicer</li>
	</ul>


	<h2 class="heading-large">Protos</h2>

	<h3>Quality Checking (14<sup>th</sup> Oct 2015)</h3>
	<p>First set of protos for new thinking about the new process</p>
	<p>User is not processing the mortgage application.  Most is automated, and the user is to either a) deal with the exception to automatic processing, or b) quality checking the output (register) from the automatic process</p>
	<p>a) is dealt with by exisiting applications (CORA etc).  These prototypes are about b)</p>
	<p>We are...  quality checking (all or some) of the output (new register edition/version) of the automatic digital mortgage process</p>
	<p>Not: casework; or processing the application.  Is: quality checking / building confidence in auto process</p>
	<p>Better/ good words needed to describe this task</p>
	<ul>
		<li><a href="/quality-check-v1/index">Digital Mortgage Processing - latest version</a></li>
	</ul>


	<h3>Old stuff - a different process/model - Casework proto(s) (new - 24th July onward)</h3>
	<p>Aim: making one proto. Current: two places to get quickly started from</p>
	<ul>
		<li><a href="/casework-v3/index">Digital Mortgage Processing - latest version</a></li>
		<li><a href="index-MS">Casework - Matt S starting point (bootstrap base)</a></li>
	</ul>

	<h3>misc thinking - even older - Casework Jam (Mat J, Clara, Andy P)</h3>
	<ul>
		<li><a href="/casework-jam/dashboard">Casework - dashboard</a></li>
		<li><a href="/casework-jam/case">Casework - case</a></li>
		<li><a href="/casework-jam/title">Casework - title</a></li>
	</ul>

	<h3>other things in the kit</h3>
	<ul>
		<li>
			<a href="/examples">Example pages</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul>
		<li>
			<a href="">Add useful links :)</a>
		</li>
	</ul>

</main>

{{/content}}

{{/unbranded_template}}
